/**
 * Place your custom styles here.
 */

.main-container{padding: 10px; background: #fff}
body{background: #cccccc }
.pane-ip-geoloc-geocode-address{background-color: #f3feeb; padding: 10px; }
/*.panel-3col-stacked{background: #f3feeb;}
.pane-sell-posts{background-color: #ffffff; padding: 10px; border: 1px solid #f7f7f7;}
.pane-property-rent{background-color: #ffffff; padding: 10px; border: 1px solid #f7f7f7;}
.pane-buy-posts{background-color: #ffffff; padding: 10px; border: 1px solid #f7f7f7;}*/
h2.title{font-size: 18px;}